#!/usr/bin/env python
"""
Title:   Mediawiki backup script
Author:  canadensys
Date:    oct 2016
"""

import sys,os
import tarfile
import time

## Variables 
#--- Variables files ---#
site_name     = "{{ wiki_name }}"
main_bk_dir   = "{{ bk_bk_dir }}"
main_wiki_dir = "{{ wiki_final }}"
current_date  = (time.strftime("%d-%m-%Y"))
#wiki_zip_file = main_bk_dir+"/"+current_date+"_"+site_name+".tar.gz"
wiki_zip_file = main_bk_dir+"/"+site_name+".tar.gz"
#--- Variables db ---#
db_name     = "{{ wiki_db_name }}"
db_uname    = "{{ wiki_db_user }}"
db_password = "{{ wiki_db_password }}"
db_host     = "{{ wiki_db_host }}"
#db_file     = main_bk_dir+"/"+current_date+"_"+db_name+".sql"
db_f_name   = site_name+"_"+db_name+".sql"
db_file     = main_bk_dir+"/"+db_f_name
db_zip      = db_f_name+".zip"
#--- Variables logfile ---#
logfile     = "{{ wiki_logfile }}"
#--- Variables for tests ---#
space_default_needed = 1000000
## Script
#--- Test available space ---#
def test_available_space():
    size = os.statvfs(main_bk_dir)
    available_space=(size.f_bavail * size.f_frsize) / 1024
    return available_space
#--- Backup WP files ---#
def backup_wiki_files(log):
    log.write('\tStart backup wiki files\n')
    os.system("tar -zcf "+wiki_zip_file+' --directory="'+main_wiki_dir+'" .')
    log.write('\tEnd   backup wiki files\n')
#--- Backup sql database ---#
def backup_wiki_db(log):
    log.write('\tStart backup wiki database\n')
    os.system("PGPASSWORD='"+db_password+"' pg_dump "+db_name+" -U "+db_uname+" -h "+db_host+" > "+db_file+" && cd "+main_bk_dir+" && zip "+db_zip+" "+db_f_name+" && rm -rf "+db_file+"")
    log.write('\tEnd   backup wiki database\n')
#--- MAIN ---# 
def main():
    log = open(logfile, 'w')
    if test_available_space  > space_default_needed:
        log.write('#####\n Start of '+current_date+' wiki Daily Backup\n\n')
        backup_wiki_files(log)
        backup_wiki_db(log)
        log.write('##### End of '+current_date+' wiki Daily Backup\n\n')
    else:
        log.write('!!!!!\n WARNING NOT ENOUGHT SPACE for '+current_date+' Daily Backup\n!!!!!\n')
    log.close()

if __name__ == '__main__':
    main()
