User-Agent: *
Allow: /?display=wide
Allow: /wp-content/uploads/
Disallow: /wp-content/plugins/
Disallow: /readme.html
Disallow: /refer/
Disallow: /cgi-bin/
Disallow: /scripts/
Disallow: /tmp/

Sitemap: http://community.canadensys.net/post-sitemap.xml
Sitemap: http://community.canadensys.net/page-sitemap.xml
Sitemap: http://community.canadensys.net/deals-sitemap.xml
Sitemap: http://community.canadensys.net/hosting-sitemap.xml
