{
    "type" : "jdbc",
    "jdbc" : {
        "driver" : "com.mysql.jdbc.Driver",
        "url" : "jdbc:mysql://{{ vascan_db.host }}:3306/{{ vascan_db.name }}?useUnicode=true&characterEncoding=utf8&haracterSetResults=utf8",
        "user" : "{{ vascan_db.user }}",
        "password" : "{{ vascan_db.password }}",
        "sql" : "{{ item.value.sql }}",
        "index" : "vascan",
        "type" : "{{ item.key }}",
        "bulk_size" : 500,
        "max_bulk_requests" : 10
    }
}
