googleanalytics.siteVerification={{ google_analytics.site_verification }}
googleanalytics.account={{ google_analytics.account }}
feedback.url=http://data.canadensys.net/vascan/feedback

url.useMinified=true

lastPublicationDateFilePath={{ last_publication_date_file }}
taxonUrl=http://data.canadensys.net/vascan/taxon/

generatedContent.publicDownloadUrl=http://data.canadensys.net/downloads/vascan/
generatedContent.imageFolder= {{ vascan_apps_dir.generated_images }}
generatedContent.generatedFilesFolder= {{ vascan_apps_dir.generated_content }}

database.driver=com.mysql.jdbc.Driver
database.url=jdbc:mysql://{{ vascan_db.host }}/{{ vascan_db.name }}?useUnicode=true&amp;characterEncoding=utf8&amp;characterSetResults=utf8
database.user={{ vascan_db.user }}
database.password={{ vascan_db.password }}
database.idleConnectionTestPeriod=60
hibernate.dialect=org.hibernate.dialect.MySQLDialect
hibernate.show_sql=false
hibernate.jdbc.fetch_size=1000

elasticsearch.host={{ elastic_search.host }}
elasticsearch.port={{ elastic_search.java_port }}
