googleanalytics.siteVerification={{ google_analytics.site_verification }}
googleanalytics.account={{ google_analytics.account }}

feedback.url=https://github.com/Canadensys/narwhal-api/issues/new

url.useMinified=true
